* {
    font-family: Source Sans Pro    ;
}
body{
    background-image: url(./images/Object.png);
    background-repeat: no-repeat;
    background-size:contain;
}
h1{
   font-size: 120px;
   font-family: Source Sans Pro;
   text-align: center;
   color: white;
   font-weight: 700;
}


.navbar {
padding-left: 171.59px;
padding-top: 35.02px;
display: flex;
align-items: center;
justify-content: space-between;
}

.navbar .img {

width: 167.02px;
height: 29.46px;
}

.navbar2 {
    display: flex;
    gap: 20px;
    }
 .navbar2 li {
        list-style: none;        }


.navbar2 a {
text-transform: uppercase;
font-weight: bold;
color: #333;
padding: 8px 12px;
border-radius: 4px;
}

.all {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
}
.mmost {
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    position: relative;
}
.mmost p {
    text-align: left;
}
.Phillip{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    gap: 10px;
    color: #C271FF;
}
.Phillip img{
    
  width: 30px;
  height: 30px;
 border-radius: 50%;
    
}
.star{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.star2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.star2 i{ 
    color: #C271FF;
}
.star2 i.last{
    color: #929090;
}
.play{
    position: absolute;
    top: 16%;
    left: 35%;
    z-index: 1;}

/*
.most{
    display: grid;
    align-items: center;
    gap: 5px;
    color: #C271FF;
}
.mmost{
    display: grid;
    gap: 5px;  
}

.Phillip{
    display: grid;
    align-items: center;
    gap: 5px;
    color: #C271FF;
}
.Phillip img{
    width: 30px;
    height: 30px;
}
    .xmost{
    display: flex;
    justify-self: flex-end;
}
.xmost p{
    justify-self: flex-end;
}*/


.mmost p {
    color: #C271FF;
}
h2{
    justify-items: center;
}
h4{
    font-size: 14px;
}
#center{
    text-align: center;
    font-size: 32px;
}
.pop span{
    color: #C271FF;
}

.free{
    display: grid;
    grid-template-columns:  25% 25% 25% 25%;
    text-align: center;  
     
}
.freesection{
    background-color: #071629; 
}
.freesection h2,p,h3{
    text-align: center;
    color: white;
}
.freesection button{
    align-items: center;

}
.faq{
    display: grid;
    grid-template-columns: repeat(auto-fit,25%);
    gap: 250px;
    justify-content: center;
    align-content: center;
    justify-items: left;
}
.faq h3{
    color: black;
   text-align: left;
}
.faq1{
    font-size: 60px;
    text-align: center;
}